  
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/magnific-popup.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/jquery-ui.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/owl.carousel.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap-datepicker.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/owl.theme.default.min.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'ccss/bootstrap-datepicker.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'fonts/flaticon/font/flaticon.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/aos.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'fonts/icomoon/style.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'style.fade.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'animate.css'%}">

<link rel="stylesheet" type="text/css" href="{%static 'css/design1.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">






<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 


<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		 body {
 			background-color: #cccccc;
			}

			
			

	</style>
	
<meta charset="utf-8">
	<title>Sign In</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/animate.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>

	<h1 class="mb-0"><a href="/" class="text-black h2 mb-0">Hygeia Technologies</a></h1>
	&nbsp;
	<div class="container">
		
		<div class="login-box animated fadeInUp">
			<div class="box-header">
        <div class="box">

        <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
		</div>
		<div class="clear"></div> </div>
		</form>
	</div>
  </div>

<div class="w3-content w3-section" style="max-width:200px">
                  
	<img class="mySlides w3-animate-fading" src="{%static 'images/1.png'%}" style="width:100%">
	<img class="mySlides w3-animate-fading" src="{%static 'images/2.png'%}" style="width:100%">
	<img class="mySlides w3-animate-fading" src="{%static 'images/3.png'%}" style="width:100%">
	<img class="mySlides w3-animate-fading" src="{%static 'images/4.png'%}" style="width:100%">
	<img class="mySlides w3-animate-fading" src="{%static 'images/5.png'%}" style="width:100%">
	<img class="mySlides w3-animate-fading" src="{%static 'images/6.png'%}" style="width:100%">

	
  </div>
  
  <script>
  var myIndex = 0;
  carousel();
  
  function carousel() {
	var i;
	var x = document.getElementsByClassName("mySlides");
	for (i = 0; i < x.length; i++) {
	  x[i].style.display = "none";  
	}
	myIndex++;
	if (myIndex > x.length) {myIndex = 1}    
	x[myIndex-1].style.display = "block";  
	setTimeout(carousel, 9000);    
  }
  </script>
</div>


</body>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>

</html> 

